

#add{
    height: 25px;
    width: 40px;
   cursor: pointer;
}

#Clear{
    height: 25px;
    width: 50px;
    cursor: pointer;
}


ul li {
    list-style: none;
   
}
.delete{
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}